<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Usuário</title>
</head>
<body>
    <h1>Criar Novo Usuário</h1>

    <form th:action="@{/usuario/store}" th:object="${usuario}" method="post">
        <div>
            <label for="tipo">Tipo de Usuário:</label>
            <select id="tipo" th:field="*{tipo}">
                <option value="usuario">Usuário</option>
                <option value="administrador">Administrador</option>
            </select>
        </div>
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="number" id="cpf" th:field="*{cpf}" required>
        </div>
        <div>
            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" th:field="*{telefone}" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" th:field="*{email}" required>
        </div>
        <div>
            <label for="dtNascimento">Data de Nascimento:</label>
            <input type="date" id="dtNascimento" th:field="*{dtNascimento}" required>
        </div>
        <div id="camposAdministrador">
            <div>
                <label for="loginUsuario">Login:</label>
                <input type="text" id="loginUsuario" th:field="*{loginUsuario}"/>
            </div>
            <div>
                <label for="loginSenha">Senha:</label>
                <input type="text" id="loginSenha" th:field="*{loginSenha}"/>
            </div>
        </div>
        <div>
            <button type="submit">Gravar</button>
        </div>
    </form>
    
    <a href="/usuario/list">Voltar para a lista</a>
    <script>
        const tipoSelect = document.getElementById("tipo");
        const camposAdministrador = document.getElementById("camposAdministrador");
        const loginUsuario = document.getElementById("loginUsuario")
        const loginSenha = document.getElementById("loginSenha")
        
        function atualizarCampos() {
            if (tipoSelect.value === "administrador") {
                camposAdministrador.style.display = "block";  
            } else {
                loginUsuario.value = null;
                loginSenha.value = null;
                camposAdministrador.style.display = "none";
                
            }
        }
        
        // Atualiza quando mudar
        tipoSelect.addEventListener("change", atualizarCampos);
        
        // Atualiza quando carregar a página (em modo edição)
        atualizarCampos();
    </script>
</body>
</html>