<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/usuario/list.css}">

    <script th:src="@{/scripts/categoria/list.js}"></script>
</head>
<body>
    <nav th:insert="/usuario/_navbar-usuario.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Usuários</h1>
            <a href="/usuario/new" class="btn-novo">+ Novo Usuário</a>
        </div>

        <div class="table-wrapper">
            <table class="tabela-categorias">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                        <th>Email</th>
                        <th>Data de Nascimento</th>
                        <th colspan="1"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="u : ${usuarios}">
                        <td th:text="${u.id}"></td>
                        <td th:text="${u.nome}"></td>
                        <td th:text="${u.cpf}"></td>
                        <td th:text="${u.telefone}"></td>
                        <td th:text="${u.email}"></td>
                        <td th:text="${u.dtNascimento}"></td>
                        <td>
                            <a th:href="@{/usuario/show/{id}(id=${u.id})}" class="btn-acao editar">Gerenciar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>