<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/usuario/show.css}">
</head>
<body>
    <nav th:insert="/usuario/_navbar-usuario.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Gerenciar usuario</h1>
        </div>

        <form th:action="@{/usuario/delete/{id}(id=${usuario.id})}" th:object="${usuario}" method="post">
            <div>
                <label for="nome">O que deseja fazer com essa usuario?</label>
                <input type="text" id="nome" th:field="*{nome}" readonly>
            </div>

            <div class="form-buttons">
                <a th:href="@{/usuario/edit/{id}(id=${usuario.id})}" class="btn-acao editar">Editar</a>
                <button type="submit">Excluir</button>
                <a href="/usuario/list" class="btn-acao retornar">Voltar</a>
            </div>
        </form>
    </main>
</body>
</html>