<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <!-- Referência ao CSS -->
    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/autor/show.css}">
</head>
<body>
    <nav th:insert="/autor/_navbar-autor.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Gerenciar Autor</h1>
        </div>

        <form th:action="@{/autor/delete/{id}(id=${autor.id})}" th:object="${autor}" method="post">
            <div>
                <label for="nome">O que deseja fazer com esse autor?</label>
                <input type="text" id="nome" th:field="*{nome}" readonly>
            </div>

            <div class="form-buttons">
                <a th:href="@{/autor/edit/{id}(id=${autor.id})}" class="btn-acao editar">Editar</a>
                <button type="submit">Excluir</button>
                <a href="/autor/list" class="btn-acao retornar">Voltar</a>
            </div>
        </form>

    </main>
    
</body>
</html>