<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/categoria/list.css}">

    <script th:src="@{/scripts/categoria/list.js}"></script>
</head>
<body>
    <nav th:insert="/categoria/_navbar-categoria.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Categorias</h1>
            <a href="/categoria/new" class="btn-novo">+ Nova Categoria</a>
        </div>

        <div class="table-wrapper">
            <table class="tabela-categorias">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th colspan="2">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${categorias}">
                        <td th:text="${c.id}"></td>
                        <td th:text="${c.nome}"></td>
                        <td th:text="${c.descricao}"></td>
                        <td>
                            <a th:href="@{/categoria/edit/{id}(id=${c.id})}" class="btn-acao editar">Alterar</a>
                        </td>
                        <td>
                            <a th:href="@{/categoria/show/{id}(id=${c.id})}" class="btn-acao excluir">Excluir</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>