<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragments</title>
</head>
<body>
    <!-- Autor -->
    <th:block th:fragment="dados-autor(autor)">
        <td><a th:href="@{/autor/show/{id}(id=${autor.id})}" th:text="${autor.id}"></a></td>
        <td th:text="${autor.nome}"></td>
    </th:block>

    <!-- Categoria -->
    <th:block th:fragment="dados-categoria(categoria, mini)">
        <td><a th:href="@{/categoria/show/{id}(id=${categoria.id})}" th:text="${categoria.id}"></a></td>
        <td th:text="${categoria.nome}"></td>
        
        <td th:if="${!mini}" th:text="${categoria.descricao}"></td>
    </th:block>
    
    <!-- Secao -->
    <th:block th:fragment="dados-secao(secao, mini)">
        <td><a th:href="@{/secao/show/{id}(id=${secao.id})}" th:text="${secao.id}"></a></td>
        <td th:text="${secao.nome}"></td>
        
        <td th:if="${!mini}" th:text="${secao.descricao}"></td>
    </th:block>

    <!-- Livro -->
    <th:block th:fragment="dados-livro(livro, mini)">
        <td><a th:href="@{/livro/show/{id}(id=${livro.id})}" th:text="${livro.id}"></a></td>
        <td th:text="${livro.isbn}"></td>
        <td th:text="${livro.titulo}"></td>
        <td th:text="${livro.anoPublicacao}"></td>
        
        <th:block th:if="${!mini}">
            <td th:text="${livro.editora}"></td>
            <td th:text="${livro.numeroEdicao}"></td>
            <td th:text="${livro.status} ? 'Disponível' : 'Emprestado'"></td>
            <td th:text="${livro.secao.nome}"></td>
        </th:block>
    </th:block>

    <!-- Usuário -->
    <th:block th:fragment="dados-usuario(usuario, mini)">
        <td><a th:href="@{/usuario/show/{id}(id=${usuario.id})}" th:text="${usuario.id}"></a></td>
        <td th:text="${usuario.nome}"></td>
            
        <th:block th:if="${!mini}">                
            <td th:text="${usuario.cpf}"></td>
            <td th:text="${usuario.telefone}"></td>
            <td th:text="${usuario.email}"></td>
            <td th:text="${usuario.dtNascimento}"></td>
        </th:block>
    </th:block>

    <!-- Locação -->
    <th:block th:fragment="dados-locacao(locacao)">
        <td><a th:href="@{/locacao/show/{id}(id=${locacao.id})}" th:text="${locacao.id}"></a></td>
        <td th:text="${locacao.dataEmprestimo}"></td>
        <td th:text="${locacao.dataDevolucaoPrevista}"></td>
        <td th:text="${locacao.dataDevolucao} ?: 'Não devolvido'"></td>
    </th:block>
</body>
</html>