<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Novo Autor</title>
</head>
<body>
    <h1>Criar Novo Autor</h1>

    <form th:action="@{/autor/store}" th:object="${autor}" method="post">
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" th:field="*{nome}" required>
        </div>
        <div>
            <button type="submit">Gravar</button>
        </div>
    </form>
    
    <a href="/autor/list">Voltar para a lista</a>
</body>
</html>