<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/locacao/edit-form.css}">
</head>
<body>
    <nav th:insert="/locacao/_navbar-locacao.html"></nav>
    
    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Nova Locação</h1>
        </div>

        <form th:action="@{/locacao/update/{id}(id=${locacao.id})}" th:object="${locacao}" method="post">
            <div class="form-grid">
                <div class="form-group">
                    <label for="dataEmprestimo" class="header-label">Empréstimo</label>
                    <input type="date" id="dataEmprestimo" th:field="*{dataEmprestimo}" required>
                </div>

                <div class="form-group">
                    <label for="dataDevolucaoPrevista" class="header-label">Devolução Prevista</label>
                    <input type="date" id="dataDevolucaoPrevista" th:field="*{dataDevolucaoPrevista}" required>
                </div>

                <div class="form-group" hidden>
                    <label for="dataDevolucao" class="header-label">Devolução</label>
                    <input type="date" id="dataDevolucao" th:field="*{dataDevolucao}">
                </div>

                <div class="form-group">
                    <label for="usuario"class="header-label">Usuario</label>
                    <select id="usuario" th:field="*{usuario}">
                        <p>--- selecione ---</p>
                        <option th:each="u : ${listaUsuarios}" th:value="${u.id}" th:text="${u.nome}"></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="livros" class="header-label">Livros</label>
                    <select id="livros" multiple class="select-multiple" th:field="*{livros}" required>
                        <option th:each="l : ${listaLivros}" th:value="${l.id}" th:text="${l.titulo}"></option>
                    </select>
                </div>
            </div>

            <div class="form-buttons">
                <button type="submit" class="btn-salvar">Salvar</button>
                <a href="/locacao/list" class="btn-voltar">Cancelar</a>
            </div>
        </form>
    </main>
</body>
</html>