<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/locacao/list.css}">
</head>
<body>
    <nav th:insert="/locacao/_navbar-locacao.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Locações</h1>
            <a href="/locacao/new" class="btn-novo">+ Nova Locação</a>
        </div>

        <div class="table-wrapper">
            <table class="tabela-locacoes">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Empréstimo</th>
                        <th>Devolução Prevista</th>
                        <th>Devolução</th>
                        <th>Usuário</th>
                        <th>Livros</th>
                        <th colspan="2"> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="l : ${locacoes}">
                        <td th:text="${l.id}"></td>
                        <td th:text="${l.dataEmprestimo}"></td>
                        <td th:text="${l.dataDevolucaoPrevista}"></td>
                        <td th:text="${l.dataDevolucao} ?: 'Não devolvido'"></td>
                        <td th:text="${l.usuario.nome}"></td>
                        <td>
                            <p th:each="livro : ${l.livros}">
                                <span th:text="${livro.titulo}"></span>
                            </p>
                        </td>
                        <td>
                            <a th:href="@{/locacao/show/{id}(id=${l.id})}" class="btn-acao editar">Gerenciar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <script th:src="@{/scripts/locacao/list.js}"></script>
</body>
</html>