<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Excluir Locação</title>
</head>
<body>
    <h1>Excluir Locação</h1>

    <form th:action="@{/locacao/delete/{id}(id=${locacao.id})}" th:object="${locacao}" method="post">
        <table>
            <tr>
                <td th:text="${locacao.id}"></td>
                    <td th:text="${locacao.dataEmprestimo}"></td>
                    <td th:text="${locacao.dataDevolucaoPrevista}"></td>
                    <td th:text="${locacao.dataDevolucao} ?: 'Não devolvido'"></td>
                    <td>
                        <p>ID: <span th:text="${locacao.usuario.id}"></span> <br />
                            Nome: <span th:text="${locacao.usuario.nome}"></span></p>
                    </td>
                    <td>
                        <p th:each="livro : ${locacao.livros}">
                            ISBN: <span th:text="${livro.isbn}"></span> <br />
                            Título: <span th:text="${livro.titulo}"></span>
                        </p>
                    </td>
                </tr>
        </table>
        <div>
            <button type="submit">Excluir</button>
        </div>
    </form>
    
    <a href="/locacao/list">Voltar para a lista</a>
</body>
</html>