<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/secao/add-form.css}">
</head>
<body>
    <nav th:insert="/secao/_navbar-secao.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Criar Nova Seção</h1>
        </div>

        <form th:action="@{/secao/store}" th:object="${secao}" method="post">
            <div>
                <label for="nome" class="header-label">Nome</label>
                <input type="text" id="nome" th:field="*{nome}" required>
            </div>

            <div>
                <label for="descricao" class="header-label">Descrição</label>
                <input type="text" id="descricao" th:field="*{descricao}" required>
            </div>

            <div class="form-buttons">
                <button type="submit">Gravar</button>
                <a href="/secao/list" class="btn-acao retornar">Voltar</a>
            </div>
        </form>
    </main>
</body>
</html>