<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/secao/edit-form.css}">

    <script th:src="@{/scripts/secao/edit-form.js}"></script>
</head>
<body>
    <nav th:insert="/secao/_navbar-secao.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Editar Seção</h1>
        </div>

        <form th:action="@{/secao/update/{id}(id=${secao.id})}" th:object="${secao}" method="post">
            <div>
                <label for="nome" id="header-label-current" class="header-label">Nome</label>
                <p th:text="*{nome}" id="input-nome"></p>
            </div>

            <div>
                <label for="descricao" id="header-label-current" class="header-label">Descrição</label>
                <p th:text="*{descricao}" id="input-descricao"></p>
            </div>
        </form>

        <form id="form-edit" th:action="@{/secao/update/{id}(id=${secao.id})}" th:object="${secao}" method="post">
            <div>
                <label for="nome" class="header-label">Novo Nome</label>
                <input type="text" id="nome" th:field="*{nome}" required>
            </div>

            <div>
                <label for="descricao" class="header-label">Nova Descrição</label>
                <input type="text" id="descricao" th:field="*{descricao}" required>
            </div>

            <div class="form-buttons">
                <button type="submit">Gravar</button>
                <button type="button" class="clear-button" onclick="limparCampos()">Limpar</button>
                <button type="reset">Restaurar</button>
                <a href="/secao/list" class="btn-acao retornar">Voltar</a>
            </div>
        </form>
    </main>
</body>
</html>