<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edita Livro</title>
</head>
<body>

    <h2>Edita Livro</h2>

    <form th:action="@{/livro/update/{id}(id=${livro.id})}" th:object="${livro}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div>
            <label for="isbn">ISBN:</label>
            <input type="text" id="isbn" th:field="*{isbn}" required>
        </div>
        <div>
            <label for="titulo">Título:</label>
            <input type="text" id="titulo" th:field="*{titulo}" required>
        </div>
        <div>
            <label for="autores">Autores</label>
            <select id="autores" th:field="*{autores}" multiple required>
                <option th:each="a : ${listaAutores}" 
                    th:value="${a.id}" 
                    th:text="${a.nome}">
            </select>
        </div>
        <div>
            <label for="categorias">Categorias</label>
            <select id="categorias" th:field="*{categorias}" multiple required>
                <option th:each="c : ${listaCategorias}" 
                    th:value="${c.id}" 
                    th:text="${c.nome}">
            </select>
        </div>
        <div>
            <label for="editora">Editora:</label>
            <input type="text" id="editora" th:field="*{editora}" required>
        </div>
        <div>
            <label for="anoPublicacao">Ano de Publicação:</label>
            <input type="number" id="anoPublicacao" th:field="*{anoPublicacao}" required>
        </div>
        <div>
            <label for="numeroEdicao">Número da Edição:</label>
            <input type="number" id="numeroEdicao" th:field="*{numeroEdicao}" required>
        </div>
        <div>
            <label for="secao">Seção</label>
                <select id="secao" th:field="*{secao}" required>
                    <option th:each="s : ${listaSecoes}" 
                        th:value="${s.id}" 
                        th:text="${s.nome}">
                </select>
            <div>
        </div>
            <button type="submit">Gravar</button>
            <a th:href="@{/livro/list}">Voltar</a>
        </div>

    </form>

</body>
</html>