<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>BiblioTECH</title>

    <link rel="stylesheet" th:href="@{/styles/navbar/navbar.css}">
    <link rel="stylesheet" th:href="@{/styles/livro/list.css}">
</head>
<body>
    <nav th:insert="/livro/_navbar-livro.html"></nav>

    <main class="container">
        <div class="header-section">
            <h1 id="header-section-h1">Livros</h1>
            <a href="/livro/new" class="btn-novo">+ Novo Livro</a>
        </div>

        <div class="cards-container">
            <div class="card-livro" th:each="l : ${livros}">
                
                <div class="card-header">
                    <h2 th:text="${l.titulo}"></h2>
                    <span class="badge" 
                          th:text="${l.status ? 'Disponível' : 'Emprestado'}"
                          th:classappend="${l.status} ? ' disponivel' : ' emprestado'">
                    </span>
                </div>

                <div class="card-info">
                    <p><strong>ISBN:</strong> <span th:text="${l.isbn}"></span></p>
                    <p><strong>Editora:</strong> <span th:text="${l.editora}"></span></p>
                    <p><strong>Ano:</strong> <span th:text="${l.anoPublicacao}"></span></p>
                    <p><strong>Edição:</strong> <span th:text="${l.numeroEdicao}"></span></p>
                    <p><strong>Seção:</strong> <span th:text="${l?.secao?.nome}"></span></p>
                </div>

                <div class="card-listas">
                    <div class="lista">
                        <h4>Autores</h4>
                        <ul>
                            <li th:each="a : ${l.autores}" th:text="${a.nome}"></li>
                        </ul>
                    </div>

                    <div class="lista">
                        <h4>Categorias</h4>
                        <ul>
                            <li th:each="c : ${l.categorias}" th:text="${c.nome}"></li>
                        </ul>
                    </div>
                </div>

                <div class="card-acoes">
                    <a th:href="@{/livro/show/{id}(id=${l.id})}" class="btn-acao editar">Gerenciar</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
